/* Base properties */

.countdown_flip-half .countdown__digit-unit {
	position: relative;
	display: block;
	visibility: visible;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 1;
	font-size: 1em;
}
.countdown_flip-half .countdown__digit-unit:before {
	position: absolute;
	display: block;
	visibility: visible;
	top: 50%;
	left: 50%;
	opacity: 1;
	font-size: 1em;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.countdown_flip-half .countdown__digit-unit:after {
	position: absolute;
	display: block;
	visibility: visible;
	top: 50%;
	left: 50%;
	opacity: 1;
	font-size: 1em;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.countdown_flip-half .countdown__digit-unit_hide {
	position: absolute;
	display: block;
	visibility: hidden;
}




.countdown_flip-half .countdown__digit-unit-content {
	display: block;
	font-size: 1em;
}
.countdown_flip-half .countdown__digit-unit-content:before {
	display: block;
	opacity: 0;
	visibility: hidden;
}
.countdown_flip-half .countdown__digit-unit-content:after {
	position: absolute;
	display: block;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}



/* Animation timings */

.countdown_flip-half .countdown__digit-unit:after {
	transition: all 0s ease 0.67s, font-size 1ms;
}

.countdown_flip-half .countdown__digit-unit:before,
.countdown_flip-half .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__digit-unit-content:after {
	transition: all 0.67s ease, font-size 1ms;
}

.countdown_flip-half .countdown__digit-unit_hide:before {
	transition: all 0s ease, font-size 1ms !important;
}



/* Animation timings - weeks */

.countdown_flip-half .countdown__group_weeks .countdown__digit-unit:after {
	transition: all 0s ease 2s, font-size 1ms;
}

.countdown_flip-half .countdown__group_weeks .countdown__digit-unit:before,
.countdown_flip-half .countdown__group_weeks .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__group_weeks .countdown__digit-unit-content:after {
	transition: all 2s ease, font-size 1ms;
}


/* Animation timings - days */

.countdown_flip-half .countdown__group_days .countdown__digit-unit:after {
	transition: all 0s ease 2s, font-size 1ms;
}

.countdown_flip-half .countdown__group_days .countdown__digit-unit:before,
.countdown_flip-half .countdown__group_days .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__group_days .countdown__digit-unit-content:after {
	transition: all 2s ease, font-size 1ms;
}


/* Animation timings - hours */

.countdown_flip-half .countdown__group_hours .countdown__digit-unit:after {
	transition: all 0s ease 1.5s, font-size 1ms;
}

.countdown_flip-half .countdown__group_hours .countdown__digit-unit:before,
.countdown_flip-half .countdown__group_hours .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__group_hours .countdown__digit-unit-content:after {
	transition: all 1.5s ease, font-size 1ms;
}


/* Animation timings - minutes */

.countdown_flip-half .countdown__group_minutes .countdown__digit-unit:after {
	transition: all 0s ease 1s, font-size 1ms;
}

.countdown_flip-half .countdown__group_minutes .countdown__digit-unit:before,
.countdown_flip-half .countdown__group_minutes .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__group_minutes .countdown__digit-unit-content:after {
	transition: all 1s ease, font-size 1ms;
}


/* Animation timings - seconds */

.countdown_flip-half .countdown__group_seconds .countdown__digit-unit:after {
	transition: all 0s ease 0.5s, font-size 1ms;
}

.countdown_flip-half .countdown__group_seconds .countdown__digit-unit:before,
.countdown_flip-half .countdown__group_seconds .countdown__digit-unit_hide:after,
.countdown_flip-half .countdown__group_seconds .countdown__digit-unit-content:after {
	transition: all 0.5s ease, font-size 1ms;
}



/* Container behavior */

.countdown_flip-half .countdown__digit,
.countdown_flip-half .countdown__digit-unit,
.countdown_flip-half .countdown__digit-unit-content {
	overflow: hidden;
}

.countdown_flip-half .countdown__digit-unit,
.countdown_flip-half .countdown__digit-unit_hide {
	-wekit-perspective: 1em;
	perspective: 1em;
}

.countdown_flip-half .countdown__digit-unit:before,
.countdown_flip-half .countdown__digit-unit:after {
	-wekit-backface-visibility: hidden;
	backface-visibility: hidden;
}


/* Animation changes */

/* Before TO */
.countdown_flip-half .countdown__digit-unit:before {
	visibility: visible;
	opacity: 1;
	clip: rect(0.5em, 10em, 1em, 0);
	-wekit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
	transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}

/* Before FROM */
.countdown_flip-half .countdown__digit-unit_hide:before {
	visibility: hidden;
	opacity: 0;
	-wekit-transform: translateX(-50%) translateY(-50%) rotateX(180deg);
	transform: translateX(-50%) translateY(-50%) rotateX(180deg);
}

/* After FROM */
.countdown_flip-half .countdown__digit-unit:after {
	visibility: visible;
	opacity: 1;
	-wekit-transform: translateX(-50%) translateY(-50%) rotateX(0deg);
	transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}

/* After TO */
.countdown_flip-half .countdown__digit-unit_hide:after {
	visibility: hidden;
	opacity: 0;
	-wekit-transform: translateX(-50%) translateY(-50%) rotateX(-180deg);
	transform: translateX(-50%) translateY(-50%) rotateX(-180deg);
}

/* Content after TO */
.countdown_flip-half .countdown__digit-unit-content:after {
	visibility: visible;
	opacity: 1;
	clip: rect(0, 10em, 0.5em, 0);
}

/* Content after FROM */
.countdown_flip-half .countdown__digit-unit_hide .countdown__digit-unit-content:after {
	visibility: hidden;
	opacity: 0;
}
